.loginPage {
    padding: 56px 63px;
    height: 100%;
    box-sizing: border-box;
    
}
.logo{
    width: 187px;
    height: 65px;
}

.loginBanner {
    width: 644px;
    height: 466px;
}

.footerText{
    font-weight: bold;
    font-size: 16px;
} 
